@{    
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>
<p>You have successfully authenticated your shop with the wishlu Shopify App. Your auth state:</p>

@Session["authState"].ToString()
