@if (Request.IsAuthenticated)
{
    <p>
        <a href="#">Logged In!</a>
    </p>
}
else
{
    <ul>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", data_dialog_title = "Identification" })</li>
    </ul>
}