@using ShopifyAPIAdapterLibrary;
@{    
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@{
    
}

<h2>Buy</h2>
<p>You have ordered an item for someone on wishlu!</p>

@Model